UI
{
    zorder 500
    
    container Panel(UI/StatusBars)
    {
        metrics_mode pixels
        vert_align bottom
        horz_align center
        left -128
        top -84
        width 256
        height 20
        
        material black
        transparent false
        
        container Panel(UI/StatusBars/Health)
        {
            metrics_mode pixels
            vert_align top
            width 180
            height 10
            
            material green
            transparent false
        }
        
        container Panel(UI/StatusBars/Power)
        {
            metrics_mode pixels
            vert_align top
            top 10
            width 256
            height 10
            
            material blue
            transparent false
        }
    }
    
    container Panel(UI/AbilityBar)
    {
        metrics_mode pixels
        vert_align bottom
        horz_align center
		left -128
		top -64
		width 256
		height 64
		
		material white
		transparent false
		
		container Panel(UI/AbilityBar/Ability1)
		{
            metrics_mode pixels
            left 0
            width 64
            height 64
            
            material Examples/Ninja
            transparent false
            container Panel(UI/AbilityBar/Ability1/CooldownContainer)
            {
	            metrics_mode pixels
            	left 0
            	width 64
            	height 64
            	
            	material mat_cooldown_overlay
	            
	            element TextArea(UI/AbilityBar/Ability1/Cooldown)
	            {
	                metrics_mode pixels
	                horz_align center
	                left 0
	                top 16
	                alignment center
	                width 64
	                height 32
	                
	                font_name arial
	                char_height 40
	                colour 1 0 0
	            }
	    	}
		}
		
		container Panel(UI/AbilityBar/Ability2)
		{
            metrics_mode pixels
            left 64
            width 64
            height 64
            
            material Examples/Ninja
            transparent false
            
            container Panel(UI/AbilityBar/Ability2/CooldownContainer)
            {
	            metrics_mode pixels
            	left 0
            	width 64
            	height 64
            	
            	material mat_cooldown_overlay
            	
	            element TextArea(UI/AbilityBar/Ability2/Cooldown)
	            {
	                metrics_mode pixels
	                horz_align center
	                left 0
	                top 16
	                alignment center
	                width 64
	                height 32
	                
	                font_name arial
	                char_height 40
	                colour 1 0 0
	            }
	    	}
		}
		
		container Panel(UI/AbilityBar/Ability3)
		{
            metrics_mode pixels
            left 128
            width 64
            height 64
            
            // material Examples/Ninja
            transparent false
            
            
            container Panel(UI/AbilityBar/Ability3/CooldownContainer)
            {
	            metrics_mode pixels
            	left 0
            	width 64
            	height 64
            	
            	material mat_cooldown_overlay
            	
	            element TextArea(UI/AbilityBar/Ability3/Cooldown)
	            {
	                metrics_mode pixels
	                horz_align center
	                left 0
	                top 16
	                alignment center
	                width 64
	                height 32
	                
	                font_name arial
	                char_height 40
	                colour 1 0 0
	            }
	        }
		}
		
		container Panel(UI/AbilityBar/Ability4)
		{
            metrics_mode pixels
            left 192
            width 64
            height 64
            
            // material Examples/Ninja
            transparent false
            
            container Panel(UI/AbilityBar/Ability4/CooldownContainer)
            {
	            metrics_mode pixels
            	left 0
            	width 64
            	height 64
            	
            	material mat_cooldown_overlay
            	
	            element TextArea(UI/AbilityBar/Ability4/Cooldown)
	            {
	                metrics_mode pixels
	                horz_align center
	                left 0
	                top 16
	                alignment center
	                width 64
	                height 32
	                
	                font_name arial
	                char_height 40
	                colour 1 0 0
	            }
	        }
		}
    }
    
    container Panel(UI/FPS)
    {
            metrics_mode pixels
            left 10
            top 10
            width 640
            height 64
            
        element TextArea(UI/FPS/Meter)
        {
            metrics_mode pixels
            horz_align center
            alignment center
            width 64
            height 32
            
            font_name arial
            char_height 40
            caption 4
            colour 1 0 0
        }
        
        element TextArea(UI/FPS/Meter2)
        {
            metrics_mode pixels
            horz_align center
            alignment center
            left 64
            width 64
            height 32
            
            font_name arial
            char_height 40
            caption 4
            colour 1 0 0
        }
        
        element TextArea(UI/FPS/Meter3)
        {
            metrics_mode pixels
            horz_align center
            alignment center
            left 128
            width 64
            height 32
            
            font_name arial
            char_height 40
            caption 4
            colour 1 0 0
        }
        
        element TextArea(UI/FPS/Meter4)
        {
            metrics_mode pixels
            horz_align center
            alignment center
            left 192
            width 64
            height 32
            
            font_name arial
            char_height 40
            caption 4
            colour 1 0 0
        }
        
        element TextArea(UI/FPS/Meter5)
        {
            metrics_mode pixels
            horz_align center
            alignment center
            left 256
            width 64
            height 32
            
            font_name arial
            char_height 40
            caption 4
            colour 1 0 0
        }
    }
}